<%= javascript_tag do %>
  var RedmineJournalFolder = {
    "displayAll": function(e) {
      e.preventDefault();
      if ($(this).text() == '<%= l(:label_redmine_journal_display_all) %>') {
        $('.redmine_journal_display_button a').text('<%= l(:label_redmine_journal_hide_all) %>');
        $('.journal > div > *:not("h4")').slideDown(100);
        $('.redmine_journal_open_button a').css({marginRight: "-2px", 'letter-spacing': '2px'}).text('<%= l(:label_redmine_journal_hide) %>');
      } else {
        $('.redmine_journal_display_button a').text('<%= l(:label_redmine_journal_display_all) %>');
        $('.journal > div > *:not("h4")').slideUp(100);
        $('.redmine_journal_open_button a').css({marginRight: "0", "letter-spacing": "0"}).text('<%= l(:label_redmine_journal_display) %>');
      }
      return false;
    },
    "display": function(e) {
      e.preventDefault();
      var _$ = $(this);
      var target = $(this).parents(".journal");
      if (_$.text() == '<%= l(:label_redmine_journal_display) %>') {
        _$.css({marginRight: "-2px", 'letter-spacing': '2px'}).text('<%= l(:label_redmine_journal_hide) %>');
        target.children().children("div").slideDown(100);
      } else {
        _$.css({marginRight: "0", "letter-spacing": "0"}).text('<%= l(:label_redmine_journal_display) %>');
        target.children().children("div").slideUp(100);
      }
    }
  };

  $(function() {
    $('.journal > div > *:not("h4")').hide();
    $('#history').before('<div class="redmine_journal_display_button" style="text-align:right;"><a style="cursor:pointer;"><%= l(:label_redmine_journal_display_all) %></a></div>');
    $('#history').after('<div class="redmine_journal_display_button" style="text-align:right;"><a style="cursor:pointer;"><%= l(:label_redmine_journal_display_all) %></a></div>');
    $('.journal div > h4').prepend('<div class="redmine_journal_open_button" style="width:25px;margin-left:10px;text-align:right;float:right;cursor:pointer;font-family:Verdana;font-size:12px"><a style="cursor:pointer;"><%= l(:label_redmine_journal_display) %></a></div>');
    $('.redmine_journal_open_button a').css({marginRight: "0", "letter-spacing": "0"});
    var hash = $(location.hash);
    if (hash.length) {
      var target = null;
      if (location.hash.match(/change-/)) target = hash;
      if (location.hash.match(/note-/)) target = hash.parents(".journal");
      if (target) {
        target.children().children("div").slideDown(1);
        target.find('.redmine_journal_open_button a').css({marginRight: "-2px", 'letter-spacing': '2px'}).text('<%= l(:label_redmine_journal_hide) %>');
      }
    } else {
      var c = $('.journal').length;
      for(var i = 0; i < 5; i++) {
        var target = $($('.journal')[--c]);
        target.children().children("div").slideDown(1);
        target.find(".redmine_journal_open_button a").css({marginRight: "-2px", 'letter-spacing': '2px'}).text("<%= l(:label_redmine_journal_hide) %>");
      }
    }
    $('.redmine_journal_display_button a').on("click", RedmineJournalFolder.displayAll);
    $('.redmine_journal_open_button a').on("click", RedmineJournalFolder.display);
  });
<% end %>
